 a li {
     display: inline-block;
     text-decoration: none;
 }
 
 .list ul {
     float: right;
     margin-top: 33px;
 }
 
 .list ul li {
     padding-right: 26px;
     text-transform: uppercase;
     font-size: 13px;
     font-weight: 600;
     color: black;
 }
 
 .list ul a li:hover {
     color: #ffe13e;
 }
 
 ul a li.active {
     color: #ffe13e;
 }
 
 .title {
     margin-top: 40px;
     background-image: url('../img/title-image.png');
     background-color: #1f2532;
     height: 250px;
     width: 100%;
     text-align: center;
 }
 
 .title h1 {
     font-family: 'Raleway', sans-serif;
     font-size: 37px;
     color: white;
     font-weight: bold;
     padding-top: 85px;
 }
 
 .title ul li {
     display: inline-block;
     padding-left: 25px;
     color: white;
     font-size: 24px;
 }
 
 .title ul {
     margin-right: 85px;
     margin-top: 20px;
 }
 
 .title ul li.active {
     color: #ffe13e;
 }
 
 .elipse {
     margin-top: -36px;
     margin-right: 13px;
 }
 
 .footer-info h1 {
     font-family: 'Raleway', sans-serif;
     font-size: 33px;
     text-align: center;
     font-weight: bold;
 }
 
 .footer-info p {
     font-family: 'Raleway', sans-serif;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
 }

 .feedback-slider {
    background-color: #353a46;
    width: 100%;
    height: 400px;
 }

 .footer-slider {
    margin-top: 80px;
    margin-bottom: 100px;
    box-shadow: 0px -10px 40px 0px grey;
 }

 .chevrons {
    padding-top: 20px;  
    padding-left: 400px;
 }


 .right-arrow {
    padding-left: 30px;
 }

 .feedback {
    padding-left: 550px;
    padding-top: 100px;
    display: inline-block;
 }

 .picture {
    margin-top: -50px;
    box-shadow: 0px 20px 50px 0px grey;
 }
 .bck {
     background: #1f2532;
     text-align: center;
     height: 750px;
     margin-top: 20px;
 }
 .font1 {
     font-family: 'Raleway', sans-serif;
     font-size: 40px;
     color: white;
     font-weight: bold;
     padding-top: 70px;
 }
  .font2 {
     font-family: 'Raleway', sans-serif;
     font-size: 17px;
     color: white;
     font-weight: medium;
 }
 .move {
     margin-top: 120px;
 }
 .carousel-indicators {
     margin-bottom: -120px;
 }

 .text {
     margin-top: 15px;
     color: white;
 }
 .text2{

     color: gray;
 }
 .hover {
     
     color: white;
 }
 .imgg {
     
     background-image: url("../img/Layer1.png");
     width: 260px;
     height: 260px;
 }
 .textt {
     font-family: 'Raleway'; 
     font-size: 15px;  
     
     width: 260px; 
     height: 260px;
     text-indent: 0px;
     top: 30px;
     left: 75px;
     background: #fee247;
     margin-left: 0px;
     opacity: 0.7;
     padding-top: 35px;
     text-align: center;
     font-weight: bolder;
     display: none;
 }
 .imgg2 {
     
     background-image: url("../img/Layer2.png");
     width: 260px;
     height: 260px;
     
 }
 .imgg3 {
    
     background-image: url("../img/Layer3.png");
     width: 260px;
     height: 260px;
       
 }
 .imgg4 {
     
     background-image: url("../img/Layer4.png");
     width: 260px;
     height: 260px;
       
 }

 .icon_social:hover {
  background-color: red;
  display: inline-block;
 }
#fdb1 {
    display: none;
}



 
